<mat-card>
  <div Class="bloco">
    <div>
      <h1> {{titulo0}}</h1>
      <h2> {{titulo}}</h2>
      <h3> {{titulo1}}</h3>
    </div>

    <div class='imagem'>
      <img [src]="imgUrl">
    </div>

    <div Class="info2">
      <p> {{sobreNos}}</p>
    </div>

    <div Class="info3">
      <h3> {{participe}}</h3>
    </div>
    <div>
      <h4>contato: Eaipolitica@gmail.com</h4>
      <h4>Projeto de exemplo fornecido para estudo. Copyright 2020 Iteris Consultoria e Software LTDA';
      </h4>
    </div>
  </div>
</mat-card>

